<div class="card">
    <div class="avatar">
        <div class="circle">
            <strong>AD</strong>
        </div>
    </div>
    <div class="details">
        <div class="name"><strong>{{person.name}}</strong><img class="function-icon" src="../../../../assets/icons/delete.svg" style="height: 30px;width: 30px;"></div>
        <ul class="info">
            <li class="data">
                <div class="info-key">Age :</div>
                <div class="info-value">{{person.age}}</div>
            </li>
            <li class="data">
                <div class="info-key">Gender :</div>
                <div class="info-value">{{person.gender}}</div>
            </li>
            <li class="data">
                <div class="info-key">Phone :</div>
                <div class="info-value">{{person.phone}}</div>
            </li>
        </ul>
    </div>
</div>