<div class="edit-form">
    <a routerLink="/" routerLinkActive="active"><img src="../../../../assets/icons/close.svg" class="cancel-button"></a>
    <label class="form-label">Name :</label>
    <input class="form-input" type="text" name="Name" #name placeholder="eg: Jon Doe">
    <br><br>
    <label class="form-label">Age :</label>
    <input class="form-input" type="number" name="Number" #number placeholder="eg: 23">
    <br><br>
    <label class="form-label">Gender :</label>
    <select class="form-input" name="Gender" #gender>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
    <br><br>
    <label class="form-label">Phone :</label>
    <input class="form-input" type="tel" #phone placeholder="eg: 9850xxxxxx">
    <br><br>
    <a routerLink="/" routerLinkActive="active" class="inactive">
        <div class="submit-button" (click)="edit(name.value,number.value,gender.value,phone.value)"><img src="../../../../assets/icons/edit.svg" style="height: 20px;width: 20px;"> Save</div>
    </a>
</div>
