<div class="edit-form hide-modal">
    <img src="../../../../assets/icons/delete.svg" class="cancel-button">
    <label class="form-label">Name :</label>
    <input class="form-input" type="text" name="Name" placeholder="eg: Jon Doe">
    <br><br>
    <label class="form-label">Age :</label>
    <input class="form-input" type="number" name="Number" placeholder="eg: 23">
    <br><br>
    <label class="form-label">Gender :</label>
    <select class="form-input" name="Gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
    <br><br>
    <label class="form-label">Phone :</label>
    <input class="form-input" type="tel" placeholder="eg: 9850xxxxxx">
    <br><br>
    <div class="submit-button"><img src="../../../../assets/icons/edit.svg" style="height: 20px;width: 20px;"> Save</div>
</div>