<div class="card">
    <div class="avatar">
        <div class="circle">
            <strong>AD</strong>
        </div>
    </div>
    <div class="details">
        <div class="name">
            <strong>{{person.name}}</strong>

        </div>
        <ul class="info">
            <li class="data">
                <div class="info-key">Age :</div>
                <div class="info-value">{{person.age}}</div>
            </li>
            <li class="data">
                <div class="info-key">Gender :</div>
                <div class="info-value">{{person.gender}}</div>
            </li>
            <li class="data">
                <div class="info-key">Phone :</div>
                <div class="info-value">{{person.phone}}</div>
            </li>
        </ul>
    </div>

    <div class="button">
        <img class="function-icon" (click)="editCard()" src="../../../../assets/icons/edit.svg" style="height: 28px;width: 28px;">
        <img class="function-icon" (click)="deleteCard.emit()" src="../../../../assets/icons/trash.svg" style="height: 33px;width: 33px;">
    </div>
    <img src="../../../../assets/icons/info.svg" alt="" (click)="showInfo()" style="height: 35px;width: 35px;">
</div>
