<div class="edit-form" [ngClass]="{'hide-modal':display===false}">
    <a routerLink="/" routerLinkActive="active"><img src="../../../../assets/icons/close.svg" class="cancel-button"></a>
    <label class="form-label">Name :</label>
    <input class="form-input" type="text" name="Name" #name placeholder="eg: Jon Doe">
    <br><br>
    <label class="form-label">Age :</label>
    <input class="form-input" type="number" name="Number" #age placeholder="eg: 23">
    <br><br>
    <label class="form-label">Gender :</label>
    <select class="form-input" name="Gender" #gender>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
    <br><br>
    <label class="form-label">Blood Group :</label>
    <select class="form-input" name="BloodGroup" #blood>
      <option value="A+">A+</option>
      <option value="A-">A-</option>
      <option value="B+">B+</option>
      <option value="B-">B-</option>
      <option value="AB+">AB+</option>
      <option value="AB-">AB-</option>
      <option value="O+">O+</option>
      <option value="O-">O-</option>
    </select>
    <br><br>
    <label class="form-label">Birth Date :</label>
    <input class="form-input" type="date" #bdate placeholder="eg: 18-12-2000">
    <br><br>
    <label class="form-label">Phone :</label>
    <input class="form-input" type="tel" #phone placeholder="eg: 9850xxxxxx">
    <br><br>
    <label class="form-label">Email :</label>
    <input class="form-input" type="email" #email placeholder="eg: abc@gmail.com">
    <br><br>

    <div type="submit" class="submit-button" (click)="addNewCard(name.value,age.value,gender.value,phone.value,blood.value,email.value,bdate.value)">
        <img src="../../../../assets/icons/edit.svg" style="height: 20px;width: 20px;"> Save
    </div>
</div>

<div class="overlay"></div>
