<div class="gap"></div>
<div class="gap"></div>

<mat-tab-group animationDuration="0ms">
    <mat-tab label="Profiles">
        <ul class="grid-container">
            <li *ngFor="let person of People">
                <app-card [person]="person"></app-card>
            </li>
        </ul>
    </mat-tab>
    <mat-tab label="Edit">
        <ul class="grid-container">
            <li *ngFor="let person of People">
                <app-card-edit [person]="person"></app-card-edit>
            </li>
        </ul>
    </mat-tab>
    <mat-tab label="Delete">
        <ul class="grid-container">
            <li *ngFor="let person of People">
                <app-card-delete [person]="person"></app-card-delete>
            </li>
        </ul>
    </mat-tab>
</mat-tab-group>

<app-edit-dialog></app-edit-dialog>


<!--<div class="overlay"></div>-->