<div class="container">
    <a routerLink="/" routerLinkActive="active"><img class="cancel" src="../../../../assets/icons/close.svg" alt="" style="height: 25px;width:25px"></a>
    <div class="avatar">
        <div class="circle">
            <Strong>AD</Strong>
        </div>
    </div>
    <ul class="info-ul">
        <li class="personInfo">
            <div class="key">Name :</div>
            <div class="value">{{person.name}}</div>
        </li>
        <li class="personInfo">
            <div class="key">UID :</div>
            <div class="value">1298309621bsku2198etf2</div>
        </li>
        <li class="personInfo">
            <div class="key">Age :</div>
            <div class="value">{{person.age}}</div>
        </li>
        <li class="personInfo">
            <div class="key">Gender :</div>
            <div class="value">{{person.gender}}</div>
        </li>
        <li class="personInfo">
            <div class="key">Blood Group :</div>
            <div class="value">B+</div>
        </li>
        <li class="personInfo">
            <div class="key">Birth Date :</div>
            <div class="value">18/12/2000</div>
        </li>
        <li class="personInfo">
            <div class="key">Phone :</div>
            <div class="value">{{person.phone}}</div>
        </li>
        <li class="personInfo">
            <div class="key">email :</div>
            <div class="value">adityadawadikar2000@gmail.com</div>
        </li>
    </ul>
    <br>
    <div class="functions">
        <div class="button edit" (click)="editProfile()">
            <img class="function-icon" src="../../../../assets/icons/edit.svg" style="height: 28px;width: 28px;"> Edit
        </div>
        <!--<div class="button delete">
            <img class="function-icon" src="../../../../assets/icons/trash.svg" style="height: 33px;width: 33px;"> Delete
        </div>-->
    </div>
</div>
